
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


body{
    display: grid;
    height: 100vh;
    background-color: #a0a9fa;
    grid-template-areas: 
    

    "header header header"
    "aside1 main aside2";
    
    grid-template-columns: 1fr 900px ; /* tamanho das colunas também*/
    grid-template-rows: 45px 100px; /*tamnaho das colunas*/
    

}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: #7885f4;
    
    
    transition: all 0.5s;
    z-index: 997;
 
  }
  
  #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
  }
  
  #header .logo a {
    color: #2d405f;
  }
  

  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    font-family: "Krub", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #2d405f;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #3b4ef8;
  }
  
  .navbar .getstarted,
  .navbar .getstarted:focus {
    background: #e2e5fe;
    padding: 9px 25px;
    margin-left: 30px;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    color: #3b4ef8;
  }
  
  .navbar .getstarted:hover,
  .navbar .getstarted:focus:hover {
    color: #fff;
    background: #3b4ef8;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .navbar .dropdown ul li {
    min-width: 0px;
  }
  
  .navbar .dropdown ul a {
    
    text-transform: none;
    font-weight: 500;
  }
  
  .navbar .dropdown ul a i {
    
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #3b4ef8;
  }
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  




main{
    background-color: white;
    grid-area: main;
    border: 2px solid white!important;
    padding: 0;

}

.frase-do-img{
    display: flex;
}

.reacoes{
    display: flex;
   
    justify-content: center;
    justify-content: space-evenly;
}

/* .nav-mobile a,li{
    text-decoration: none;
    list-style: none;

}


      

.nav-mobile ul,li{
    display: flex;
    border: 2px solid red;
    justify-content: center;
    justify-content: space-evenly;
} */

#fotoCapa{
    background-image: url('../image/rosa-roxao.png');
    
}


@media only screen and (max-width: 200px) {
    img {
      width: 100%;
    }
  }

  @media only screen and (max-width: 100px) {
    img.img-agencia {
      width: 100%;
    }
  }

  @media only screen and (max-width: 100px) {
    img.img-pub {
      width: 100%;
    }
  }

  @media only screen and (max-width: 100px) {
    img.logo {
      width: 100%;
    }
}


  @media only screen and (max-width: 100px) {
    img.img-agencia {
      width: 100%;
    }
  

  }

  @media only screen and (max-width: 1000px) {
  
    .img-violino{
        max-width: 90%;
        width: 100%;

    }

  }





  @media only screen and (min-width: 1000px) {
    img.icones-side {
      width: 100%;
    }

    @media only screen and (max-width: 100px) {
    .imagem img{
        max-width: 90%;
        width: 1100px;
    }
    

    }
    
    

  
}



@media only screen and (max-width: 1000px) {
    img.icones-side {
      width: 100%;
    }

    @media only screen and (max-width: 100px) {
    .imagem img{
        max-width: 90%;
        width: 1100px;
    }
    }
    
    

  
}



  
main{
   
}
.home {
    opacity: 1; /* Só aparece no mobile. */
    height: auto;
}




@media only screen and (max-width: 420px) {


    .aside-esquerdo .letras-aside{
     
    }


    .aside-esquerdo .itens-p{
     
        background-color: #d2d1f2;
        padding: 0;
        border: 2px solid red !important;
        
    }
    
    
    
    .aside-esquerdo{
        border: 2px solid red !important;
        
        padding: 0;
      
        
        justify-content: center;
        background-color: #d2d1f2 !important;

    }   

    .banana{
        display: grid;
        position: normal !important;
        
        
        grid-area: banana;
    }

   

    #logo{
        display: none;
        padding: 0;
    }

    .banana-button{
      display: none;
      padding: 0;

    }
  


    main{
       padding-left: 50px;
        

    }
    .banana{
      
    }

    
    
}






@media only screen and (max-width: 200px) {
    .home {
        opacity: 0; /* Esconde no desktop. */
        height: 0;
        padding-left: 1px;
        width: 10px;
        align-items: center;
        
    }

    main {
      padding-left: 80px;
        
    }

    .aside-direito, .aside-class form {
        opacity: 0; /* Esconde no desktop. */
        display: none;
        padding: 0;
        width: 0vw;
        height: 0vh;
        
       
    }

    

    .amplo font{
        padding: 0;
    }



    

   

    
}














  



main section{
    background-color: white;
    
}

.aside-esquerdo{
    grid-area: aside1;
    padding: 40px;

    padding-bottom: 1000px;
    padding-top: 50px;
    
    
    margin-top: 0;
    
  
    justify-content: left;
    margin-top: 0 !important;
    position: fixed;

    background-color: #a0a9fa !important;
   
    font-size: clamp(0.6em, 0.6em + 1vw, 1.0em);
    display: flex;
    align-items: center;

   
    

}




*{
    font-size: clamp(16em, 0.6em + 1vw, 1.0em);
}

.aside-esquerdo, .letras{
    background-color: #a0a9fa;
    grid-area: aside1;
    border: 2px solid white;
    display: flex;
    flex-flow: column;
    align-items: center;
    
}


.imagm{

background-image: url('../image/doar-a-ilustracao-do-conceito-pessoas-minusculas-plana-dos-desenhos-animados-dao-coracoes-fazer-cari-removebg-preview.png');
  width: 100%;
  border: 1px solid #EDECFF;
  display: flex;
  flex-direction: column;
  font-size: clamp(0.6em, 0.6em + 1vw, 1.0em);
  align-items: center;

  
}


.frase-do-img {
    display: flex;   
}

.aside-class{
    position: fixed;
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
   
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
    
  }
  
  .team .member .member-img {
    position: relative;
    overflow: hidden;
  }
  
  .team .member .social {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
  
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;

    align-items: center;
    justify-content: center;
  }
  
  .team .member .social a {
    transition: color 0.3s;
    color: #124265;
    
    display: inline-block;
  }
  
  .team .member .social a:hover {
    color: #2487ce;
  }
  
  .team .member .social i {
    font-size: 18px;
    margin: 0 2px;
    line-height: 0;
  }
  
  .team .member .member-info {
   
  }
  
  .team .member .member-info h4 {
    font-weight: 700;
   
    color: #124265;
  }
  
  .team .member .member-info span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #aaaaaa;
  }
  
  .team .member .member-info p {
    font-style: italic;
    font-size: 14px;
   
    color: #777777;
  }
  
  .team .member:hover .social {
    opacity: 1;

  }
  

.aside-direito{
    background-color: #a0a9fa;
    grid-area: aside2;  
    width: 40vh;
    height: 50vh;
    
    padding: 10px;
    border: 5px solid white;

    
}


.aside-direito section{
   display: flex;
   flex-flow: column;
    
    padding: 0;
  height: 100px;
  background-color: #EDECFF;
  border-radius: 10px;
  border-bottom: gray 2px solid;

    
}

.aside-direito section input{
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 100px;
    background: #EDECFF;
  
    
 }




 
.aside-direito section ::placeholder{
   background-color: #EDECFF;

 }

 #algo{
    background-color: white;
    border: none;
    padding: 0;
    margin: 0;

 }


.hashtag section{
    padding: 10px;
}

.letras{
    margin-left: 0;
  
   
}

*{
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    
}

.amplo{
    font-size: clamp(0.6em, 0.6em + 1vw, 1.0em);
    color: #000000;
    padding-right: 10px;
}

.text-div{
  
    display: flex;
    padding-left: 50px;
}

.titulo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #36346A;
    margin: 0;
    font-size: clamp(0.6em, 0.6em + 1vw, 1.0em);
}




button{
    border: none;
}



.itens-p, img{
 
}


.letras-aside{
    
   display: flex;
   

}

.img-foto{
    background-image: url("../image/cover-photo.png");
    height: 10px;
}



.logo{
    width: 42px;
    height: 42px;
    
    background: url(Altruismus__3_-removebg-preview.png);
    
    /* Inside auto layout */
    
   
   
    display: flex;
    border-radius: none;
    
}


.section-logo{

    display: flex;
    justify-content: left;
    padding-left: 5px;
}

.letras-aside{
   
    display: flex;
    flex-flow: column;
    margin: 0;
}

.letras-aside a{
    
    align-items: center;
    text-decoration: none;
    margin: 0;
    
}


.letras-aside img{
   align-items: center;
  
}



*{
   color: #5A56E9;
}


.doar{
  display: flex;
  color: #E6ECF0;
  background-color: #5A56E9;
  font-weight: 600;
  height: 30px;
  padding: 6px;
  
}

.banana-button{
    display: flex;
    border-radius: 10px;
    justify-content: center;
    background-color: #5A56E9;
    align-items: center;
    margin-top: 5px;
    
}


.jogo-velha{
   
    display: flex;
    flex-flow: column;
    background-color:#EDECFF;
    border-radius: 10px;
}
.jogo-velha section{
  display: flex;
  justify-content: left;
  margin: 3px; 
}


.img-section{
    display: flex;
    flex-flow: column;
    font-size: clamp(0.6em, 0.6em + 1vw, 1.0em);
    align-items: center;


}

.icone-side-mobile{
    display: flex;
}


.icones-side{
   width: 20px;
}

.roupas{
    border-bottom: 1px gray solid;
}

.usuario{
    display: flex;
    align-items: center;
}

span{
    font-weight: 600;
    text-decoration:wavy;
}

.agencia{
    color:#36346A ;
    width: 117px;
height: 18px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;

}

.text{
    color: black;
    width: 507px;
height: 216px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
}

.texto{
    display: flex;
    /*deixar no centro*/
}

.projetos{
    color: #5A56E9;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

#img-mensa{
    border: none;

}

img{
    border-radius: 10px;
}

.frase-do-img p{
    margin: 0;
 
}

.ingles{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    
    color: #000000;
}


.roupas, .roupas1{
    font-weight: 700;
   
}


.roupas{
    display: flex;
}

.ver{
    background: rgba(132, 126, 255, 0.2);
    
border: 1px solid #5A56E9;
border-radius: 24.5px;
width: 100px;
}

.roupas img{
    border-radius: 1000px;

}

.contato p, .contato{
   display: flex;
   flex-flow: column;
   flex: 4;

}

.contato p{
    display: flex;
    flex-flow: column;
    margin: 0;
    flex: 4;
 }
 
 .ver-section{
    display: flex;
    justify-content: right;
 }


 .nome-ong{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 19px;
    line-height: 22px;
    color: #36346A;
 }


.demanda{
    display: flex;
   
}

.demanda p{
    display: flex;
    flex: 0.1;
}

.titulos{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #EDECFF;
}

.juncao{
    margin: 0;
}

.desc{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #14171A;
}

.pedidos{
    font-weight: 700;
    color: #000000;
   
}

.imagem{
    background-image: url('../img-social/tweet/cover-photo.png');
    height: 150px;
    width: 850px;

    border: 2px solid;
}

.fluxo {
    display: flex;
    justify-content: center;
    justify-content: space-around;
   
    border-bottom: 2px solid #EDECFF ;

}


#teste{
    font-weight: 900;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.nome-ong-main{
    font-size: 18px;
    font-weight: 700;
}

.info-basic{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    
    align-items: center;
}

.info-basic button{
    background-color: white;
    border: 1px solid #5A56E9;
    border-radius: 24.5px;
    padding: 15px;
}




.acabo-os-nome{
    display: flex;
}


.mini, .mini1{
    color: #424447;
}

.aside-esquerdo img{
    align-items: center;
}


.banana{
   display: flex;
   align-items: center;
   padding-inline-start: 10px;
   padding-inline-end: 5px;
   padding-right: 10px;
   padding: 5px; 
  
}

#home1:hover{
  
    border-radius: 1000px;
    background: #dddcf9;
    transition: 1s;
    box-shadow: 1px 1px 1px 1px #36346A;
    -webkit-box-shadow: 10px 10px 5px 0px rgba (0,0,0,0,75);
-moz-box-shadow: 10px 10px 5px 0px rgba (0,0,0,0,75);
color: #3b4ef8;
 
}




.icones-side{
    padding-inline: 5px ;
}

.mensagens{
    display: flex;
    align-items: left;
    justify-content: space-around;
    height: 50px;
    justify-content: center;

}


.mensagens2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    flex-direction: column;
    
}

.mensagens2 img{
    height: 100px;
    width: 100px;
    
   

}